<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}기본 제목{% endblock $}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>   <!--공통 머리글-->
        <h2>공통 상단 메뉴(머리글, header)</h2>
    </header>
    <hr>
    {% block content %}
    본문 내용
    {% endblock %}
    <hr>
    <footer class="bg-light text-center">  <!--공통 바닥글-->
        <span class ="text-muted">작성자 : 신선해 (주)에이콘 02-111-1111</span>
    </footer>
</body>
</html>