{% extends "base.html" %}    // 상속 받기

{% block content %}
<h2>장바구니(cart) 목록</h2>
{% if cart %}
    <table border="1">
        <tr>
            <th>상품명</th><th>가격</th><th>수량</th><th>합계</th><th>삭제</th>
        </tr>
        {% for name,info in cart.items() %}
            {% set subtotal = info.price * info.qty %}
            <tr>
                <td>{{name}}</td>
                <td>{{info.price}}</td>
                <td>{{info.qty}}</td>
                <td>{{info.subtotal}}</td>
                <td><a href="/remove/{{name}}">주문 부분 삭제</a></td>
            </tr>
        {% endfor %}
        </table>
        <p>총 금액 : {{total}}원</p>
        <a href="/clear">모든 주문 삭제(장바구니 비우기)</a>
{% else %}
<p>장바구니 비었습니다</p>
{% endif %}

{% endblock %}