<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--
    <link rel="stylesheet" href="/static/css/style.css">
-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="{{url_for('static', filename='js/app.js')}}" defer></script>
</head>
<body>
    <h2>Flask REST Api + Ajax(fetch) : GET </h2>
    <div>
        <div>
            <label for="name">이름</label>
            <input type="text" id="name" value="길동" />
        </div>
        <div>
            <label for="age">나이</label>
            <input type="number" id="age" min="0" value="23" />
        </div>
        <button id="sendBtn">GET 요청</button>
    </div>
    <div id="result">결과 출력</div>
</body>
</html>