<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src = "/static/js/app.js" defer></script>
</head>
<body>
    <h2>RESTFul 직원 / 부서 정보 조회</h2>
<hr>
<h3>1. 직원 전체 조회</h3>
<button id = "btnJikwon">직원 전체 보기</button>   

<h3>2. 직원 1명 조회</h3>
직원 번호 : <input type="text" id="jikwonno">
<button id = "btnOne">일부 직원 보기</button>   

<h3>3. 부서 전체 조회</h3>
<button id = "btnBuser">부서 전체 보기</button>   

<h3>4. 특정 부서 직원 조회</h3>
부서 번호 : <input type="text" id="buserno">
<button id = "btnBuserPart">해당 부서 직원 보기</button>  

<br>
<hr>
<div id = "msg"></div>

<h3>조회 결과</h3>
<table border="1">
    <thead id="thead"></thead>
    <tbody id="tbody"></tbody>
</table>
</body>
</html>