<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>get 방식 요청(요청명 또는 요청명?변수=값&변수=값)</h2>
    핵심:
    <hr>
    방법1 : <br>
    <a href="/get_result?username=손오공&age=23">get으로 자료 전달</a>
    <br><br>

    방법2 : <br>
    <form action="get_result" method="get">
        이름 : <input type="text" name="username"><br>
        나이 : <input type="number" name="age"><br>
        <input type="submit" value="전송">
    </form>
</body>
</html>