<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            //document.getElementByName("form")
            const form = document.querySelector("form[name=postform]")
            const btn = document.querySelector("#btnSend")

            btn.addEventListener("click", () => {
                //alert("a");
                form.requestSubmit();  // 입력 자료 검증 후 자료 전송
            })

            // 입력 자료 검사
            form.addEventListener("submit", (event) =>{    
                const name = document.querySelector("#username").value.trim()
                

                
            })
        })
            
    </script>
</head>
<body>
    <h3>POST 방식 처리</h3>
    <form action="/post_result" method="post" name="postform">
        이름 : <input type="text" name="username" id="username" value="손오공"> <br>
        이메일 : <input type="text" name="email" id="email" value="abc@abc.com"> <br>
        <input type="button" value="전송" id="btnSend">
    </form>
</body>
</html>