<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <button id="loadBtn">상품 자료 읽기(axios)</button>
    <table id="resultTable">
    </table>


    <script>
        document.getElementById("loadBtn").addEventListener("click", loadData);

        async function loadData(){
            try{
                const response = await axios.get("/api/sangdata");
                const data = response.data;

                const table = document.getElementById("resultTable");
            table.innerHTML = "";
            
            if(data.length === 0){
                table.innerHTML="<tr><td>자료 없음</tr></td>"
                return;
            }

            let headerRow = "<tr>";
                // [{'code':1, 'sang':'장갑', ...}]
                Object.keys(data[0]).forEach(key => {
                    headerRow += `<th>${key}</th>`;                    
                })
            headerRow += "</tr>";
            table.innerHTML = headerRow;
            

            // 자료 채우기
            data.forEach(row => {
                let rowHtml = "<tr>";
                Object.values(row).forEach(value => {
                        rowHtml += `<td>${value}</td>`;
                })
                rowHtml += "</tr>";
                table.innerHTML += rowHtml;
            })
            }catch(error){
                alert("에러 : " + error);
            }
        };
    </script>

    
</body>
</html>